@page "/"

<PageTitle>Index</PageTitle>

<h1>Moro!</h1>

tässä ois tämmönen paska!

<!-- Navigation Links for Login and Register -->
<nav>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>
